# 🔒 Segurança (NUNCA COMMITE ISSO)
.env

# 📦 Dependências (Não precisamos subir, o npm install reconstrói na nuvem)
node_modules/

# 🛠️ Compilação (Arquivos JavaScript gerados a partir do TypeScript)
dist/
build/

# 📋 Logs e Arquivos do Sistema
*.log
.DS_Store
.vscode/